html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

// Section heading
color: black;
 font-size: 48px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// “A terrific piece of praise”
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Name
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Description
color: #828282;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// “A fantastic bit of feedback”
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Name
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Description
color: #828282;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// “A genuinely glowing review”
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Name
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Description
color: #828282;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Topic
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Page
color: #454545;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Page
color: #454545;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Page
color: #454545;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Topic
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Page
color: #454545;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Page
color: #454545;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Page
color: #454545;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Topic
color: black;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Page
color: #454545;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Page
color: #454545;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Page
color: #454545;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Toyo-data
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Toyo-data
color: black;
 font-size: 20px;
 font-family: Inter;
 font-weight: 500;
 line-height: 30px;
 word-wrap: break-word
---
// Home
color: black;
 font-size: 20px;
 font-family: Inter;
 font-weight: 500;
 line-height: 30px;
 word-wrap: break-word
---
// Model
color: black;
 font-size: 20px;
 font-family: Inter;
 font-weight: 500;
 line-height: 30px;
 word-wrap: break-word
---
// Account
color: black;
 font-size: 20px;
 font-family: Inter;
 font-weight: 500;
 line-height: 30px;
 word-wrap: break-word
---
// Contact
color: white;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 word-wrap: break-word
---
// Trends Over The Years
color: black;
 font-size: 48px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// 2021
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Body text for whatever you’d like to add more to the subheading. 
color: #828282;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// 2022
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Body text for whatever you’d like to expand on the main point. 
color: #828282;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// 2023
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Body text for whatever you’d like to share more. 
color: #828282;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Section heading
color: black;
 font-size: 48px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// Subheading
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Body text for whatever you’d like to add more to the subheading. 
color: #828282;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Subheading
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Body text for whatever you’d like to expand on the main point. 
color: #828282;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Analysis at a glance
color: black;
 font-size: 48px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// MPG
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Body text for whatever you’d like to expand on the main point. 
color: #828282;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Cost
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes.
color: #828282;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Rating
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Body text for whatever you’d like to add more to the main point. It provides details, explanations, and context.
color: #828282;
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Button
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Secondary button
color: black;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Section heading
color: black;
 font-size: 48px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// Button
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Secondary button
color: rgba(0, 0, 0, 0.90);
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// Fuel Economy Data Analyzer
color: black;
 font-size: 64px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// View data results below
color: rgba(0, 0, 0, 0.75);
 font-size: 24px;
 font-family: Inter;
 font-weight: 400;
 line-height: 36px;
 word-wrap: break-word
---
// Let’s go!
color: white;
 font-size: 24px;
 font-family: Inter;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
